
.icon-hand:before { content: '\e800'; } /* '' */
.icon-inst:before { content: '\e801'; } /* '' */
.icon-kkal:before { content: '\e802'; } /* '' */
.icon-logo:before { content: '\e803'; } /* '' */
.icon-map-marker:before { content: '\e804'; } /* '' */
.icon-meat:before { content: '\e805'; } /* '' */
.icon-natural:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-salad:before { content: '\e809'; } /* '' */
.icon-sauce:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-vk:before { content: '\e80c'; } /* '' */
.icon-volume:before { content: '\e80d'; } /* '' */
.icon-arrow-scroll:before { content: '\e80e'; } /* '' */
.icon-beef:before { content: '\e80f'; } /* '' */
.icon-buns:before { content: '\e810'; } /* '' */
.icon-burger:before { content: '\e811'; } /* '' */
.icon-cheese:before { content: '\e812'; } /* '' */
.icon-cucumber:before { content: '\e813'; } /* '' */
.icon-drops:before { content: '\e814'; } /* '' */
.icon-fb:before { content: '\e815'; } /* '' */
.icon-bars-solid:before { content: '\e816'; } /* '' */