.burger {
  background-image: url(../img/burger/burger-background.png);
  background-position: 50%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6.25rem 0;
  box-sizing:border-box;
  position: relative;
}

.burger__slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 9.3rem;
  box-sizing: border-box;
  position: relative;
}

.burger__slide-pic{
  width: 90%;
  text-align: center;
}

.burger__slide-img{
  width: 100%;

}

.burger__slide-head {
  font-family: Gagalin;
  font-size: 3.125rem;
  font-weight: 400;
  text-align: center;
}

.burger__slide-description{
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 2.25rem;
}

.burger__slide-price-and-order {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1.625rem;
}

.burger__slide-price{
  margin-right: 1.875rem;
}

.burger__slide-price-number,
.burger__slide-price-rub{
  color: #e35028;
  font-family: Gagalin;
  font-weight: 400;
}

.burger__slide-price-number{
  font-size: 3.125rem;
  letter-spacing: -1.25px;
}

.burger__slide-price-rub{
  font-size: 1.875rem;
  letter-spacing: -0.046rem;
}


.burger__product-composition-wrapper{
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.burger__product-calories-wrapper{
  position: absolute;
  top: 0.675rem;
  left: calc(100% - 100px);
}

.burger__slider-forward,
.burger__slider-back {
  cursor: pointer;
  width: 45px;
  height: 30px;
  color: white;
  position: absolute;
  top: calc(50% - 20px);
}

.burger__slider-forward{
  right: 1rem;
  transform: rotate(-90deg);
}

.burger__slider-back{
  transform: rotate(90deg);
  left: 1rem;
}


@media screen and (min-width: 480px) {
  
 
}

@media screen and (min-width: 768px) {

  .burger__slider-slide {
    flex-direction: row;
  }
  .burger__slide-info{
    width: 60%;
  }

  .burger__slide-head,
  .burger__slide-description{
    text-align: left;
  }

  .burger__slide-head,
  .burger__slide-price-number{
    font-size: 4.5rem;
  }
  
  .burger__slide-price-and-order {
    display: flex;
    justify-content: flex-start;
  }

  .burger__slide-price-rub{
    font-size: 1.185rem;
  }

  .burger__product-composition-wrapper{
    top: 30px;
    left: 10px;
  }
  
  .burger__product-calories-wrapper{
    top: calc(100% - 70px);
    left: 10px;
  }

}




