
.navigation {
  flex-grow: 1;
}

.navigation__list {
  display: none;
  list-style: none;
  justify-content: space-around;
  /* max-width: 37rem; */
  margin: 0 auto;
}

.navigation__list-itm{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}


.navigation__list-anchor{
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.navigation__list-anchor:hover {
  color: #e45028;
}

.navigation__list-itm::after {
  content: "\2022";
  box-sizing: border-box;
}

.navigation__list-itm:last-child::after {
  content: "";
}

.navigation__list--opened{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(90,90,90,0.94);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.navigation__modal-menu{
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.99;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding-top: 20vh; */
}

.navigation-modal-menu-content{
  border: none;
  background-color: rgba(47, 50, 52,0);
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96vh;
}

.navigation__list-itm--modal {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.navigation__logo-wrapper {
  position: absolute;
  top: 10px;
  left: 19px;
}

.navigation__button-close-wrapper{
  position: absolute;
  top: 31px;
  right: 10px;
}



@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 37rem;
    margin: 0 auto;
    flex-direction: row;
    background-color:rgba(0,0,0,0);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
}