.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  background-color: #e45028;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color ease 0.1s;
  box-sizing:border-box;
}

.button--anchor{
  width: auto;
  height: auto;
  padding: 13px 15px;
  text-decoration: none;
  text-align: center;
}

.button--gray{
  background-color: #2f3234;
}

.button--clear {
  background-color: rgba(90,90,90,0);
  text-transform: none;
  font-size: 14px;
}

.button--close {
  background-color:  transparent;
  width: auto;
  height: auto;
}

.button--close-orange{
  background-color: transparent;
  color:  #e45028;
  width: auto;
  height: auto;
}

.button:hover {
  background-color: #c1401e;
  box-shadow: 0 0 12px -2px black;
  text-decoration: none;
  color: #fff;
}

.button--gray:hover {
  background-color: #1f2122;
}

.button--clear:hover{
  color:#e45028;
  background-color: rgba(90,90,90,0);
  box-shadow: none;
}

.button--close:hover{
  background-color:  transparent;
  box-shadow: none;
  color: wheat;
}


.button--close-orange:hover{
  color: #c1401e;
  background-color: transparent;
  box-shadow: none;
}