.how-work {
  background-image: url(../img/how-work/how-work-background.png);
  background-position: 50%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.1875rem 0;
  box-sizing:border-box;
}

.how-work__head {
  color: #2f3234;
  font-family: Gagalin;
  font-size: 3.8125rem;
  text-align: center;
  font-weight: 400;
}

.how-work__video-wrapper{
  
  width: 100%;
}




@media screen and (min-width: 480px) {
  .how-work__video {
    margin-top: 7.25rem;
    height: 50vh;
  }
 
}

@media screen and (min-width: 768px) {
  .how-work__video {
    margin-top: 8.375rem;
    height: 60vh;
  }
}