* {
  margin: 0;
  padding: 0;
}

@font-face{

  font-family: 'LifeHack-medium';
  
  src: url('/Final/src/fonts/Lifehack Medium.otf');
  
  font-weight: normal;
  
  font-style: normal;
  
  }

  @font-face{

    font-family: 'Gagalin';
    
    src: url('/Final/src/fonts/Gagalin/Gagalin-Regular.otf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
    
html {
  font-size: 16px;
}
    
body {
  font-family: Ubuntu;
  color: white;
}


/* ---------------MEDIA-------------------------------------- */

@media screen and (min-width: 480px) {
  html {
    font-size: 19px;
  }

}


@media screen and (min-width: 768px) {

  
}