
.icon-grin-hearts-regular:before { content: '\e800'; } /* '' */
.icon-leaf-solid:before { content: '\e801'; } /* '' */
.icon-thumbs-up-solid:before { content: '\e802'; } /* '' */
.icon-bong-solid:before { content: '\e803'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */